<h2 nz-typography>Список заявок</h2>
<button (click)="getExel()" nz-button [nzType]="'primary'">
  Сделать выгрузку в эксель
</button>
<div *ngFor="let issue of isssueList$ | async">
  <div>{{issue.descriprtion}}</div>
  <div>{{issue.amount}}</div>
  <div>{{issue.issueStatus}}</div>
  <div>{{issue.valid}}</div>
</div>

<!--<ng-container *ngIf="isHavePermission(permissionEnum.studentsSave)">-->
<!--  <button nz-button [nzType]="'primary'" (click)="createAddStudentModal()"><span>Добавить студента</span></button>-->
<!--</ng-container>-->
<!--<nz-input-group [nzSuffix]="suffixIconSearch">-->
<!--  <input type="text" nz-input (ngModelChange)="onSearch($event)"  placeholder="Поиск" [(ngModel)]="searchValue"/>-->
<!--</nz-input-group>-->
<!--<div *ngIf="students$ | async as students">-->
<!--  <nz-table #basicTable-->
<!--            [nzFrontPagination]="false"-->
<!--            [nzData]="students"-->
<!--            [nzLoading] ="loading"-->
<!--            [nzTotal]="listLength"-->
<!--            [nzPageIndex]="pageIndex"-->
<!--            (nzPageIndexChange)="onIndexChange($event)"-->
<!--            [nzPageSize]="pageSize"-->
<!--  >-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Имя</th>-->
<!--      <th *ngIf="!isRoot()">Институт</th>-->
<!--      <th *ngIf="isRoot()" [nzFilters]="filterList" (nzFilterChange)="onInstituteFilterChange($event)">Институт</th>-->
<!--      <th>Группа</th>-->
<!--      <th>Номер студенческого билета</th>-->
<!--      <th>Действие</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let data of basicTable.data">-->
<!--      <ng-container [ngSwitch]="data.institute">-->
<!--        <td>{{ data.fullName }}</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Vyc">ВУС</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Ienim">ИЕНиМ</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Inmit">ИНМТ</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Rtf">ИРИТ-РТФ</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Isa">ИСА</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Itoo">ИТОО</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Ifk">ИФКСиМП</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Ifo">ИнФО</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Iey">ИНЭУ</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Ygi">УГИ</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Yei">УралЭНИН</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Fti">ФТИ</td>-->
<!--        <td *ngSwitchCase="instituteEnum.Hti">ХТИ</td>-->
<!--        <td *ngSwitchDefault>{{data.institute}}</td>-->

<!--        <td>{{ data.academicGroup }}</td>-->
<!--        <td>{{ data.studentIdCard }}</td>-->
<!--        <td>-->
<!--          <button nz-button nzType="default" (click)="navigateToStudentDetail(data?.id)"><span>Подробнее</span></button>-->
<!--          <ng-container *ngIf="isHavePermission(permissionEnum.studentsSave)">-->
<!--            <button nz-button [nzType]="'primary'" (click)="createEditStudentModal(data?.id)"><span>Изменить данные студента</span></button>-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="isHavePermission(permissionEnum.studentsDelete)">-->
<!--            <button nz-button nzType="default" nzDanger (click)="deleteStudent(data?.id)"><span>Удалить</span></button>-->
<!--          </ng-container>-->

<!--        </td>-->
<!--      </ng-container>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </nz-table>-->

<!--</div>-->

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
