<div *ngIf="!isLoading">
  <nz-descriptions nzTitle="Информация о пользователе" [ngSwitch]="moder?.institute">
    <nz-descriptions-item nzTitle="ФИО">{{moder?.fullName}}</nz-descriptions-item>

    <nz-descriptions-item nzTitle="Логин">{{moder?.login}}</nz-descriptions-item>

    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Vyc">ВУС</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Ienim">ИЕНиМ</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Inmit">ИНМТ</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Rtf">ИРИТ-РТФ</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Isa">ИСА</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Itoo">ИТОО</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Ifk">ИФКСиМП</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Ifo">ИнФО</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Iey">ИНЭУ</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Ygi">УГИ</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Yei">УралЭНИН</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Fti">ФТИ</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Институт" *ngSwitchCase="instituteEnum.Hti">ХТИ</nz-descriptions-item>

    <nz-descriptions-item nzTitle="Роль" *ngIf="moder.roles[0] === roleEnum.moderator">Модератор</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Роль" *ngIf="moder.roles[0] === roleEnum.admin">Администратор</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Роль" *ngIf="moder.roles[0] === roleEnum.root">Админ админов</nz-descriptions-item>


    <nz-descriptions-item nzTitle="Возможности">
      <div *ngIf="moder.roles[0] === roleEnum.root || moder.roles[0] === roleEnum.admin">Обладает всеми возможностями </div>
      <div *ngIf="itHasPermission(permissionEnum.studentsGet)">Может просматривать студентов </div>
      <div *ngIf="itHasPermission(permissionEnum.studentsDelete)">Может удалять студентов </div>
      <div *ngIf="itHasPermission(permissionEnum.studentsSave)">Может редактировать студентов </div>
      <div *ngIf="itHasPermission(permissionEnum.facesGet)">Может просматривать лица POS </div>
      <div *ngIf="itHasPermission(permissionEnum.facesDelete)">Может удалять лица POS </div>
      <div *ngIf="itHasPermission(permissionEnum.facesSave)">Может редактировать лица POS </div>
      <div *ngIf="itHasPermission(permissionEnum.assistancesGet)">Может просматривать заявления на материальную помощь </div>
      <div *ngIf="itHasPermission(permissionEnum.assistancesDelete)">Может удалять заявления на материальную помощь </div>
      <div *ngIf="itHasPermission(permissionEnum.assistancesSave)">Может редактировать заявления на материальную помощь </div>
      <div *ngIf="itHasPermission(permissionEnum.newsGet)">Может просматривать новости </div>
      <div *ngIf="itHasPermission(permissionEnum.newsDelete)">Может удалять новости </div>
      <div *ngIf="itHasPermission(permissionEnum.newsSave)">Может редактировать новости </div>
    </nz-descriptions-item>

  </nz-descriptions>
</div>
