<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Waucher</h1>
    </div>
    <ul *ngIf="isHavePermission(permissionEnum.studentsGet)" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter [routerLink]="'students'">
        <i nz-icon nzType="team"></i>
        <span>Список студентов</span>
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="'offers'">
        <i nz-icon nzType="exception"></i>
        <span>Список предложений</span>
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="'answers'">
        <i nz-icon nzType="exception"></i>
        <span>Ответы от пользователей</span>
      </li>
      <li *ngIf="isHavePermission(permissionEnum.facesGet)" nz-menu-item nzMatchRouter [routerLink]="'faces-pos'">
        <a>Лица POS</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Конструктор форм" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="'forms'">
            <a>Конструктор форм</a>
          </li>
        </ul>
      </li>
      <li *ngIf="isHavePermission(permissionEnum.assistancesGet) || isHavePermission(permissionEnum.assistancesSave)" nz-submenu nzOpen nzTitle="Материальная помощь" nzIcon="form">
        <ul>
          <li *ngIf="isHavePermission(permissionEnum.assistancesGet)" nz-menu-item nzMatchRouter [routerLink]="'material-assistance-list'">
            <a>Список заявлений</a>
          </li>
          <li *ngIf="isHavePermission(permissionEnum.assistancesSave)" nz-menu-item nzMatchRouter [routerLink]="'material-assistance'">
            <a>Заполнить заявление</a>
          </li>
        </ul>
      </li>
      <li *ngIf="canManageModer()" nz-menu-item nzMatchRouter [routerLink]="'moder-list'">
        <i nz-icon nzType="team"></i>
        <span>Список модераторов</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="logout-button">
          <button (click)="logout()" nz-button nzType="default" nzDanger>Выйти</button>
        </div>

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
